- content_for :head do
  %link{:href => "/en/feed.xml", :rel => "alternate", :type => "application/atom+xml"}/
.articles.small-12.large-8.columns.large-offset-2
  %ul.categories.no-bullet
    - blog.tags.each do |tag, articles|
      %li.category
        %h4= link_to tag, tag_path(tag)
        %ul.category-list.no-bullet
          - articles.each do |article|
            %li.article= link_to article.title, article
